---
import { db } from '../db';
import moment from 'moment'

const query = 'SELECT produktid,produktname,kaufdatum,ablaufdatum FROM products'

const response = await db.query(query);
const products = response["rows"]


interface productsInfo {
    produktid: number
    produktname: string
    kaufdatum: Date
    ablaufdatum: Date
}
---

<div class="list-element">
    {
        products.map((item:productsInfo) => (
            <div class="card">
                <ul>
                    <li>Produktname: {item.produktname}</li>
                    <li>Ablaufdatum: {moment(item.ablaufdatum).format('DD.MMM.YYYY')}</li>
                    <li>Kaufdatum: {moment(item.kaufdatum).format('DD.MMM.YYYY')} </li>
                </ul>
            </div>
        )
        )
    }
</div>


<style>
    ul {
        list-style: none;
        margin-right: 3vw;
       
    }

    .card {
        height: 20dvh;
        width: 20dvw;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
        align-content: center;
    }

    .list-element {
        display: flex;
        gap: 2vw;
        margin-left: 2vw;
        margin-top: 10vh;
    }
</style>