---

---

<div>
    <form action="" method="post">
        <input type="text" placeholder="Produktname">
        <input type="date" name="ablaufdatum" id="ablaufdatum">
        <button type="submit" value="submit">Produkt hinzufügen</button>
    </form>
</div>



<style>
    button {
        color: white;
        background-color: lightskyblue;
        border: none;
        border-radius: 20px;
        height: 4vh;
        padding: 10px;
        font-size:2vh;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }

    button:hover  {
        cursor: pointer;
        scale: 1.1;
    }
    div {
        justify-self: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form>input, 
    form>button {
        margin-top: 2dvh;
    }
</style>